.row-fluid
	.span12
		img.about-icon(src='img/download.png', width='50')
		h4 Download the source code
		p
			| The source code for this application is available in 
			a(href='https://github.com/kdhs1022/NodeCellar_MEAN') this repository 
			| on GitHub.
br
.row-fluid
	.span12
		img.about-icon(src='img/discuss.png', width='50', style='float: left;')
		h4 Comments and questions
		p
			| I love to hear your feedback. Post your questions and comments on the blog post associated with this
			| application.
br
.row-fluid
	.span12
		img.about-icon(src='img/twitter.png', width='50', style='float: left;')
		h4 Follow me on Twitter
		p
			a(href='http://twitter.com/kdhstory') @kdhstory
br
