.row-fluid
	.span12
		img.about-icon(src='img/download.png', width='50')
		h4 Download the source code
		p
			| The source code for this application is available in 
			a(href='https://github.com/kdhs1022/WineCellar-MongoDB-Express-AngularJS-NodeJS') this repository 
			| on GitHub.
br
.row-fluid
	.span12
		img.about-icon(src='img/twitter.png', width='50', style='float: left;')
		h4 Follow me on Twitter
		p
			a(href='http://twitter.com/kdhstory') @kdhstory
br
