.home-hero
	h1 Welcome to Node Cellar
		h3
			| A sample application built with Angular.js, Twitter Bootstrap, Node.js, Express, and MongoDB
		br
		div(style='opacity: .9;')
			a.btn.btn-large(href='/wines')
				img.pull-left(src='img/wine.png', style='margin-right: 6px;')
				| Start Browsing
				br
				| Node Cellar
			a.btn.btn-large(href='https://github.com/kdhs1022/WineCellar-MongoDB-Express-AngularJS-NodeJS')
				img.pull-left(src='img/github.png', style='margin-right: 6px;')
				| View Project
				br
				| on GitHub
